<p id="notice"><%= notice %></p>

<h1 class='title'>Your Shopping Cart</h1>

  <section id='products'>
    <% @cart.cart_products.each do |item| product = item.product  %>
      <ul class='shopping_cart'>
        <li><%= link_to product.image.attached? ? image_tag(product.image, style: 'height: 150px') : '', product %> </li>
        <li><%= product.title %></li>
        <li>Price: <%= product.price %> Quantity: <%= item.quantity %> <strong>Total: <%= number_to_currency(product.price * item.quantity) %></strong></li>
        <li></li>
        <li></li>
        <li class=''><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %></li>
      </ul>
    <% end %>
  </section>
  <section>
    <ul class='shopping_cart'>
      <li id='total'>Total: <%= number_to_currency(@cart.total_price) %></li>
    </ul>
</section>
<section>
<p id='button'><%= button_to 'Empty Cart', @cart_product, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %><%= link_to 'Keep Shopping', products_path, class: 'button is-warning' %></p>
</section>