<p id="notice"><%= notice %></p>

<h1 class='title' >All Products</h1>

<!-- <table class='container'> -->
  <!-- <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Quantity</th>
      <th>Fandom</th>
    </tr>
  </thead> -->
<div class='whole_grid'>
  <section id='products' class=''>
    <% @products.each do |product| %>
    <ul class='listings'>
      <li class=''><%= link_to product.image.attached? ? image_tag(product.image, style: 'height: 200px') : '', product %> </li>
      <li class=''><strong><%= product.title %></li>
      <li class=''><%= product.description.first(200) %> <%= link_to '... Show More', product %></strong></li>
      <li class=''>Price: <%= number_to_currency(product.price) %></li>
      <li class=''>Condition: <%= product.condition %></li>
      <li class=''>Quantity: <%= product.quantity %></li>
      <li class=''>Fandom: <%= link_to Category.find(product.category_id).category, category_path(product.category_id) %></li>
      <!-- if current user is the owner of the product or the admin - show the edit and destroy paths -->
      <% if user_signed_in? && product.can_edit?(current_user) %>
      <li class='button is-warning'><%= link_to 'Edit', edit_product_path(product) %></li>
      <li class='button is-danger'><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
      </ul>
    <% end %>
</section>
</div>
<br>