<p id="notice"><%= notice %></p>

<h1 class='title' >All Products</h1>

<div class='whole_grid'>
  <section id='products'>
    <% @products.each do |product| %>
    <ul class='listings'>
      <li><%= link_to product.image.attached? ? image_tag(product.image, style: 'height: 200px') : '', product %> </li>
      <li><strong><%= product.title %></li>
      <li><%= product.description.first(200) %> <%= link_to '... Show More', product %></strong></li>
      <li>Price: <%= number_to_currency(product.price) %></li>
      <li>Condition: <%= product.condition %></li>
      <li>Quantity: <%= product.quantity %></li>
      <!-- search Category for current products id then name of the category, direct to the products category with that id -->
      <li>Fandom: <%= link_to Category.find(product.category_id).category, category_path(product.category_id) %></li>
      <!-- if current user is the owner of the product or the admin - show the edit and destroy paths -->
      <% if user_signed_in? && product.can_edit?(current_user) %>
      <li class='button is-warning'><%= link_to 'Edit', edit_product_path(product) %></li>
      <li class='button is-danger'><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
      </ul>
    <% end %>

    

</section>
</div>
<br>