<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image.attached? ? image_tag(product.image, width: 250) : '' %>
</p>

<p class='title'>
  <!-- <strong>Title:</strong> -->
  <%= @product.title %>
</p>

<p style="white-space: pre-line;">
  <!-- <strong>Description:</strong> -->
  <%= @product.description %>
</p>

<p>
  Check out more <strong><%= link_to Category.find(@product.category_id).category, category_path(@product.category_id) %></strong> merch!
  <!-- search Category for current products id then name of the category, direct to the products category with that id -->
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <% if @product.quantity >0 %>
  <strong>In Stock: </strong><%= @product.quantity %>
  <% elsif %>
  <strong>Out of Stock</strong>
  <% end %>
</p>

<section class=''>
<p>
  <% if user_signed_in? %>
    <% if @product.quantity >0 %>
    <%= button_to 'Add To Cart', cart_products_path(product_id: @product), class: 'button is-primary add-to-cart' %>
    <% elsif %>
    <button class="button is-danger">Sold Out</button>
    <% end %>
  <% elsif  %>
    <%= button_to 'Sign In To Add To Cart', new_user_session_path, class: 'button is-primary' %>
  <% end %>
</p>

<section class=''>
<p class='level-item'>
  <% if user_signed_in? && @product.can_edit?(current_user) %>
  <p class='button is-info'><%= link_to 'Edit', edit_product_path(@product) %></p>
  <% end %>
</p>
<p class="button is-info">
  <%= link_to 'Back', products_path %>
</p>

</section>