<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image, width: 250 %>
</p>

<p class='title'>
  <!-- <strong>Title:</strong> -->
  <%= @product.title %>
</p>

<p style="white-space: pre-line;">
  <!-- <strong>Description:</strong> -->
  <%= @product.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <% if @product.quantity >0 %>
  <strong>In Stock</strong>
  <% elsif %>
  <strong>Out of Stock</strong>
  <% end %>
</p>

<p>
  <% if @product.quantity >0 %>
  <%= button_to 'Add To Cart', cart_products_path(product_id: @product), class: 'button is-primary add-to-cart' %>
  <% elsif %>
  <button class="button is-danger">Sold Out</button>
  <% end %>
</p>

<p class='button is-info'>
  <% if @product.can_edit?(current_user) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <% end %>
</p>
<p class="button is-info">
  <%= link_to 'Back', products_path %>
</p>